<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>dash | shard.pictures</title>
</head>
<body>
	<fieldset>
	<legend>dash | shard.pictures</legend>
	<table style="width:100%">
		<!-- <tr><th>URL ID</th><th>Resulting URL</th><th>Delete</th><th>Edit</th></tr> -->
			<tr><th>repl id</th><th>sharex config</th><th>ksnip config</th><th>view</th><th>regenerate</th><th>rolldown</th></tr>
      <% for(var i = 0; i < repls.length; i++) { %>
      <tr>
        <td><%= repls[i] %></td>
        <td><a href="https://shard.pictures/dashboard/sharex/<%= repls[i] %>">download sharex config</a></td>
        <td><a href="https://shard.pictures/dashboard/ksnip/<%= repls[i] %>">download ksnip config</a></td>
        <td><a href="https://shard.pictures/dashboard/token/<%= repls[i] %>">view your token</a></td>
				<td><a href="https://shard.pictures/dashboard/regenerate/<%= repls[i] %>">regenerate token</a></td>
				<td><a href="https://shard.pictures/dashboard/rolldown/<%= repls[i] %>">rolldown repl</a></td>
        </tr>
      <% } %>
			</tr>
	</table>
	</fieldset>
</body>
</html>